<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bin.test">
    <application
        android:name=".TestApplication"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="com.szht.htappfuture.main.MainAty" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--百度语音-->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="18595775" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="hWmA7hdruMa9n3V5bS6a1r8T" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="2Y3AzqpmvgWIKC7NOGb0YCd4mTo86Va5" />
    </application>

</manifest>